html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffeeee;      
}
body {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;    
}
.btn {
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    border: 2px solid #999;
    border-radius: 5px;
    background-color: #ff4141;
    color: #fff;
    }
.btn:hover {
    background-color: #999;
    }
.btn:active, .btn:focus {
    border-color: #000;
    background-color: #000;
}
.change-color-div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    height: 50px;
    background-color: #ff4141;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    background-color: black;
}
.arrow {
    width: 30px;
    height: 30px;
    background-color: orange;
}
.slide {
    display: none;
    width: 200px;
    height: 200px;
}
.active {
    display: block;
}
.one {    
    background-color: red;
}
.two {    
    background-color: green;
}
.three {    
    background-color: blue;
}